@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

$black: #000;
$white: #FFF;
$darkblue: #8DC8EA;
$blue: #B8DDF2;
$dark: #111;
$darkgray: #555;
$gray: #f3f3f7;

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: $darkgray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: $dark;
  font-family: 'Quicksand', sans-serif;
}

.nav {
  padding: 15px;
  background: $black;

  h1 {
    color: $white;
  }
}

.home {
  padding: 15px;
}
