@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


$black: #000;
$white: #FFF;
$darkblue: #8DC8EA;
$blue: #B8DDF2;
$dark: #111;
$darkgray: #555;
$gray: #f3f3f7;
$red: #db0000;

* { box-sizing: border-box; }

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: $darkgray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  color: $dark;
  font-family: 'Quicksand', sans-serif;
}

img {
  width: 100%;
}

.nav {
  padding: 15px;
  background: $black;

  h1 {
    color: $white;
  }
}

.home {
  .slogan {
    text-align: center;
  }

  .main {
    background: #f3f3f7;
    padding: 15px 15px 60px;

    .dropdown {
      margin: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .results {
        font-size: 15px;
        font-weight: 600;
        color: $dark;
      }
    }

    select {
      padding: 12px;
      width: 180px;
      font-size: 16px;
      border-radius: 8px;
      border: 1px solid #111;
      transition: all .2s ease-in-out;
      appearance: none;
      background-image: url(images/down.png);
      background-color: #fff;
      background-size: 12px;
      background-repeat: no-repeat;
      background-position: right .75em center;
    }

    select:focus {
      color: #111;
      box-shadow: 0.25rem 0.25rem #111;
      font-weight: 600;
      outline: 0;
      background-size: 15px;
    }

    .characters {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.card {
  position: relative;
  margin: 10px;
  padding: 30px;
  border-radius: 8px;
  transition: all .2s ease;
  background: $white;
  box-shadow: 1px 4px 4px -1px rgba(0,0,0,.15);
  color: $dark;

  span {
    position: absolute;
    right: 0;
    padding: 6px 10px 8px 16px;
    background: $darkblue;
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  img {
    padding: 30px;
  }

  .details {
    p {
      margin: 0;
    }

    h2 {
      margin: 0;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
  }

  a {
    padding: 15px;
    margin: 10px 0;
    width: 100%;
    display: block;
    background: $gray;
    border-radius: 30px;
    border: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: $dark;
    transition: all .2s ease-in-out;
  }

  a:hover {
    box-shadow: 0 0 0 2px rgb(0,0,0), 1px 5px 4px -2px rgba(0,0,0,.3);
  }
}

.footer {
  padding: 15px;
  text-align: center;
  background: #000;
  color: $white;
}
